<!DOCTYPE html>
<html>

<head>

    <title>ETL Normalizador</title>

</head>

<body>

    <h1>Normalizador ETL</h1>

    <form action="/" method="POST" enctype="multipart/form-data">

        <input type="file" name="archivo" required>

        <button type="submit">
            Procesar
        </button>

    </form>

    <hr>

    <p>{{ mensaje }}</p>

    <a href="/descargar-log">

        <button>
            Descargar Log
        </button>

    </a>

    <br><br>

    <table border="1">

        {% if encabezados %}

        <tr>

            {% for encabezado in encabezados %}

            <th>{{ encabezado }}</th>

            {% endfor %}

        </tr>

        {% endif %}

        {% for fila in datos %}

        <tr>

            {% for valor in fila %}

            <td>{{ valor }}</td>

            {% endfor %}

        </tr>

        {% endfor %}

    </table>

</body>

</html>