<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETL Normalizador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">
        <h1>ETL Normalizador</h1>

        <div class="card">

            <a href="/procesar">
                <button class="boton-comunas">Procesar Archivo</button>
            </a>

            <a href="/comunas">
                <button class="boton-comunas">Buscar Comunas</button>
            </a>

            <a href="/mapa">
                <button class="boton-comunas">mapa</button>
            </a>
            
        </div>

    </div>

</body>

</html>